body {
        font-family: "Gloria Hallelujah", cursive; 
}

h1{
    text-align: center;
}

.caixa {
    background-color: darkgrey;
    text-align: center;
    width: 75px;
    height: 75px;
    font-weight: bold;
    font-size: 40px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.botao-container {
    display: flex;
    justify-content: center;

}

.vencedor {
    display: none; 
}


.game-container{
    display: grid;
    grid-template-columns: 75px 75px 75px;
    gap: 20px;
    justify-content: center;
}

/* estilos botao*/
.botao-container {
    cursor: pointer;
    visibility: hidden;
}
.input {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.input:hover {
    outline: none;
}
.modern {
    transition: 0.5s ease;
}
.modernB {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border: 3px solid rgb(0, 209, 17);
    box-shadow: 10px -10px 0px rgb(194, 255, 176);

}
.modernB:hover {
    box-shadow: -10px 10px 0px rgb(255, 170, 244);
    border: 4px solid rgb(255, 0, 212);
}